@*@foreach (Pelicula pelicula in Peliculas)
    {
        <div>
            <p>Titulo: <b>@pelicula.Titulo</b></p>
            <p>Fecha de Lanzamiento: <b>@pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }*@
@*@if (Peliculas == null)
{
    if (Cargando == null)
    {
        <text>Cargando...</text>
    }
    else
    {
        @Cargando
    }

    @*<img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
        <text>Cargando...</text>
}
else if (Peliculas.Count == 0)
{
    if (NoHayRegistros == null)
    {
        <text>No hay registros</text>
    }
    else
    {
        @NoHayRegistros
    }
}*@

    @*<input type="checkbox" @onchange="@(()=> MostrarBotones=!MostrarBotones)"/>*@
<input type="checkbox" @bind="MostrarBotones" />
<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" EliminarPelicula="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>
@*@foreach (Pelicula pelicula in Peliculas)
{
<PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" EliminarPelicula="EliminarPelicula" />
}*@

@code{
    [Parameter] public List<Pelicula> Peliculas { get; set; }


    bool MostrarBotones = true;
    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
        Console.WriteLine($"Eliminada la Pelicula {pelicula.Titulo}");
    }

}
