<div>
    <p> Titulo: @(Pelicula.Titulo)</p>
    <p>Fecha de Lanzamiento: @Pelicula.Lanzamiento.ToString("dd MMM yyyy")</p>
    @if (MostrarBotones)
    {
        <div>
            <button @onclick="EliminarPelicula">Borrar</button>
        </div>
    }
</div>
@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; } = false;
    [Parameter] public EventCallback EliminarPelicula { get; set; }
    
}
