@page "/"
@using AprendiendoBlazorWebAssembly.Client.Helpers
@*@inject ServicioSingleton singleton*@
@inject IRepositorio repositorio
@*@using static AprendiendoBlazorWebAssembly.Client.Shared.MainLayout;*@
@*<p style="color:@appState.Color;">El valor del singleton es: @singleton.Valor</p>*@
@*<h1>Hola, @UtilidadesString.Enmayuscular(nombre)</h1>
    <p> vamos a sumar 2+2 = @(2+2)</p>*@
<div>
    <h3>Peliculas</h3>

    @*<ListadoPeliculas Peliculas="Peliculas" @ref="listado" />*@
    <ListadoPeliculas Peliculas="Peliculas" />

    @*<ListadoPeliculas >
            <Cargando>
                <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
            </Cargando>
            <NoHayRegistros>
                <text>Mensaje personalizado:no hay registros</text>
            </NoHayRegistros>
        </ListadoPeliculas>

        <h3>No hay peliculass</h3>
        <ListadoPeliculas Peliculas="ObtenerPeliculas()">
            <Cargando>
                <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
            </Cargando>
            <NoHayRegistros>
                <text>Mensaje personalizado:no hay registros</text>
            </NoHayRegistros>
        </ListadoPeliculas>*@
</div>
@*<button @onclick="AgregarPelicula">AgregarPelicula</button>*@
@*<div>
        <h3>Crear nueva película</h3>

        <EjemploTextBox @attributes="EjemploTextboxParametros"/>
    </div>*@

@code{
    //string nombre = "Diego";

    //ListadoPeliculas listado;
    //[CascadingParameter] private AppState appState { get; set; }

    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        //var lista=listado.Peliculas;
        Peliculas = repositorio.ObtenerPeliculas();
    }

    //private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>()
    //                           {
    //                                       {"placeholder", "nuevo placeholder" },
    //                                       {"disabled", "false" }
    //                                   };

    ////private List<Pelicula> ObtenerPeliculas()
    ////{
    ////    //return new List<Pelicula>();
    ////    //return null;
    ////    return new List<Pelicula>(){
    ////            new Pelicula() { Titulo = "Omaewa", Lanzamiento = new DateTime(2020, 05, 11) },
    ////            new Pelicula() { Titulo = "Mo", Lanzamiento = new DateTime(2020, 05, 11) },
    ////            new Pelicula() { Titulo = "Shindeiru", Lanzamiento = new DateTime(2020, 05, 11) },
    ////        };
    ////}
    //void AgregarPelicula()
    //{
    //    Peliculas.Add(new Pelicula() { Titulo = "Nueva Pelicula", Lanzamiento = DateTime.Today });
    //}

    //public Pelicula SpiderMan { get { return ObtenerPelicula(); } }


    //private Pelicula ObtenerPelicula()
    //{
    //    return new Pelicula()
    //    {
    //        Titulo = "Omaewa",
    //        Lanzamiento = new DateTime(2019, 7, 2)
    //    };
    //}



    //private void ManejarClick()
    //{
    //    Console.WriteLine("Me han clickeado (desde metodo)!");
    //}

}